<table class="dv-table" border="0" style="width:100%;">
	<tr>
		<td class="dv-label">Item ID: </td>
		<td>Item</td>
		<td class="dv-label">Item ID: </td>
		<td>Item</td>
		<td class="dv-label">Item ID: </td>
		<td>Item</td>
		<td class="dv-label">Item ID: </td>
		<td>Item</td>
	</tr>
	<tr>
		<td class="dv-label">Item ID: </td>
		<td>Item</td>
		<td class="dv-label">Item ID: </td>
		<td>Item</td>
		<td class="dv-label">Item ID: </td>
		<td>Item</td>
		<td class="dv-label">Item ID: </td>
		<td>Item</td>
	</tr>
</table>